@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Ganti font ke Times New Roman */
  --font-sans: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
@keyframes slow-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-slow-blink {
  animation: slow-blink 2s infinite ease-in-out;
}
